* {
    padding: 0;margin: 0;    
}
body {
    font-family: sans-serif;
    font-size: 18px;
    color: #444;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(208, 220, 236);
}
.header {
    margin-bottom: 20px;
}
form {
    display: flex;
    position: relative;
}
.input {
    width: 100%;
    padding: 5px; 
    outline: none; 
    border: none;  
}
.input:focus {
    /* border: none; */
}
.input-error {
    border: 2px solid red;
}
.div-buttons {
    display: flex;
}
.button {
    width: 100px;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    height: 30px;
}
.btn-delete {
    background-color: rgb(255, 167, 167);
    transition: background-color linear 0.4s;
}
.btn-delete:hover {
    background-color: rgb(248, 134, 134);
}
.btn-done {
    background-color: rgb(155, 155, 155);
    color: #222;
    transition: background-color linear 0.4s, color linear 0.4s;
}
.btn-done:hover {
    background-color: rgb(130, 130, 130);
    color: white;
}
.btn-none-done {
    background-color: rgb(133, 236, 73);
    color: #222;
    transition: linear 0.4s background-color, color linear 0.4s;
}
.btn-none-done:hover {
    background-color: rgb(67, 184, 0);
    color: #fff;
}
.containerTask {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    margin-top: 10px;
    padding: 5px;
}
.task-done {
    text-decoration: line-through;
}
.counter {
    position: absolute;
    right: 92px;top: 5px;
}

@media (max-width: 410px) {
    .container {
        background: rgb(162, 246, 190);
    } 
    .div-buttons {
        flex-direction: column;
    } 
    .button:nth-child(1) {
        margin-bottom: 5px;
    }  
    .counter {
        display: none;
    }
}



































